@use "../../theme.scss";

.workspace {
	background: transparent;
	// background: red;

	.previewContainer {
		background: rgba(theme.$wallust-color2, 0.7);
		border-radius: 5px;

		.previewClient {
			all: unset;
			background: rgba(theme.$wallust-color6, 0.8);
			border-radius: 4px;
		}
	}

	&.active {
		// background: blue;

		.previewContainer {
			// background: rgba(theme.$wallust-color3, 0.7);

			.previewClient {
				background: rgba(theme.$wallust-color5, 0.8);
			}
		}
	}
}
