@use "../../../theme.scss";

.session {
	all: unset;
	padding: 4px 8px;
	border-radius: 6px;
	transition: background 0.15s;
	font-family: theme.$font-main;
	min-height: 24px;
	color: theme.$text;
	font-size: 16px;

	&.focus {
		background: theme.$background-focus-secondary;
		transition: none;
	}

	&:focus {
		background: theme.$background-focus;
	}

	&:not(:first-child) {
		margin-top: 4px;
	}
}
