@use "../../../theme";

.button {
	all: unset;
	padding: 4px;
	border-radius: 6px;
	transition: background 0.15s;
	font-family: theme.$font-main;
	min-height: 24px;
	color: theme.$text;
	font-size: 16px;

	&.active {
		background: theme.$background-focus;
		transition: none;
	}

	.icon {
		margin-right: 4px;
	}

	.subLabel {
		color: theme.$text-secondary;
		font-size: 14px;
	}
}
