@use "../../../theme";

.button {
	all: unset;
	padding: 6px;
	border-radius: 6px;
	transition: background 0.15s;

	&.active {
		background: theme.$background-focus;
		transition: none;
	}

	.icon {
		margin-right: 4px;
	}
}
