$background: saturate(#fff, 20);
$background-transparent: rgba($background, 0.7);
// $background-focus: rgba(#fff, 0.2);
// $background-focus: darken(rgba($wallust-color5, 0.7), 0.5);

$border-color: #717171;
$placeholder-color: #717171;
$text: #000;
$text-secondary: #2a2a2a;
$text-light: #fff;
