@use "../../../theme.scss";

.button {
	all: unset;
	outline: 2px solid transparent;
	outline-offset: 2px;
	margin: 4px;
	padding: 8px;
	border-radius: 50%;

	&:focus {
		outline-color: theme.$background;
	}
}
