@use "../../../theme.scss";

.userSelectContainer {
	margin-bottom: 8px;

	.user {
		all: unset;
		padding: 4px 8px;
		border-radius: 6px;
		transition: background 0.15s;
		font-family: theme.$font-main;
		min-height: 24px;
		color: theme.$text;
		font-size: 16px;

		&.focused {
			background: theme.$background-focus-secondary;
			transition: none;
		}

		&:focus {
			background: theme.$background-focus;
		}

		&:not(:first-child) {
			margin-top: 4px;
		}
	}
}

.container {
	all: unset;
	background: theme.$background-transparent;
	border-radius: 3px;
	margin: 10px;
	min-width: 100px;
	min-height: 20px;
	outline: 2px solid transparent;
	outline-offset: 2px;
	margin: 4px;
	font-family: theme.$font-monospace;
	font-size: 64px;
	padding: 16px 27px;
	border-radius: 20px;

	&.focused {
		background: theme.$background-focus;
		padding: 20px 31px;
		min-height: 88px;
		outline: none;
		margin: 0;
	}

	&:focus {
		outline-color: theme.$background;
	}

	.character {
		// margin-left: 10px;
		padding: 16px 5px;
		color: theme.$text;

		&.first {
			// margin-left: 0;
		}
	}
}
