@use "../../../theme.scss";

.button {
	margin-left: 8px;
	border-radius: 8px;
	padding: 4px;
	color: theme.$text;

	&:focus {
		background: theme.$background-focus;
	}

	&:first-child {
		margin-left: 0;
	}
}
