.window {
	background: transparent;
}

.container {
	background: #000;
	min-width: 400px;
	min-height: 400px;
}

.background {
	background: rgba(0, 0, 0, 0.4);
}

.foregroundContainer {
	// background: purple;
}

.foreground {
	// background: blue;
}
