@use "../../../theme.scss";

.container {
	background: theme.$background-transparent;
	padding: 8px 12px;
	border-radius: 16px;
}

.entry {
	all: unset;
	background: theme.$background-transparent;
	margin: 6px 0;
	border-radius: 10px;
	color: theme.$text;
	caret-color: theme.$text;
	outline: 2px solid transparent;
	outline-offset: 2px;
	font-size: 16px;
	padding: 6px 8px;
	border: none;

	&:focus-within,
	&:active {
		outline-color: theme.$background;
	}
}
