@use "sass:color";

$wallust-background: #1d1f1f;
$wallust-foreground: #f6faf9;
$wallust-cursor: #f6faf9;

$wallust-color0: #484b4a;
$wallust-color1: #4e5856;
$wallust-color2: #67716e;
$wallust-color3: #818a88;
$wallust-color4: #7f8a88;
$wallust-color5: #a5b2af;
$wallust-color6: #e5f2ef;
$wallust-color7: #eaf0ef;
$wallust-color8: #a3a8a7;
$wallust-color9: #4e5856;
$wallust-color10: #67716e;
$wallust-color11: #818a88;
$wallust-color12: #7f8a88;
$wallust-color13: #a5b2af;
$wallust-color14: #e5f2ef;
$wallust-color15: #eaf0ef;

$theme-background: $wallust-foreground;
$theme-foreground: $wallust-background;

$background: color.adjust($theme-background, $saturation: 200%);
$background-transparent: rgba($background, 0.7);
// $background-focus: rgba(#fff, 0.2);
$background-focus: color.adjust($wallust-color5, $lightness: -20%);

$border-color: #717171;
$placeholder-color: #717171;
$text: $theme-foreground;
$text-secondary: #464646;
$text-light: #fff;

$font-main: "Inter";
