.wireguardSection {
	margin-bottom: 8px;

	.noneActive {
		margin-bottom: 8px;
	}

	.wireguardConnection {
		margin-bottom: 4px;
	}
}

.passwordRevealContainer {
	.passwordTextContainer {
		margin-top: 8px;
		font-size: 16px;

		.passwordLockIcon {
			margin-right: 4px;
		}
	}
}

.wifiSectionButtons {
	.wifiSectionButton {
		margin-right: 8px;
	}
}

.accessPoints {
	margin-top: 8px;
}
