.passwordRevealContainer {
	.passwordTextContainer {
		margin-top: 8px;
		font-size: 16px;

		.passwordLockIcon {
			margin-right: 4px;
		}
	}
}

.wifiSectionButtons {
	margin-bottom: 8px;

	.wifiSectionButton {
		margin-right: 8px;
	}
}