@use "../../../../theme.scss";

.current {
	margin-bottom: 10px;

	.filename {
		margin-top: 6px;
		font-size: 1.2rem;
	}

	.open {
		border: none;
		// background: $background-transparent;
		outline: none;
		box-shadow: none;
		text-shadow: none;
		padding: 5px 20px;
		border-radius: 50px;
		margin-top: 12px;

		&:hover,
		&:focus {
			background: theme.$background-focus;
		}
	}
}

.grid {
	margin-right: 12px;

	child {
		margin: 0;
		padding: 0;
		border-radius: 10px;
		min-height: 100px;
		background: rgba(theme.$background, 0.3);
		margin: 3px;
		outline-offset: -2px;

		&:hover,
		&:focus {
			outline: 2px solid theme.$wallust-color5;
		}

		.thumbnail {
			min-height: 100px;
			border-radius: 10px;

			picture {
				border-radius: 10px;
			}
		}
	}
}
